*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	margin:0;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
.Grid{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1092px;
    border: 2px solid #F80707;
    &:after {
	    clear: both;
	}
	&:before,&:after {
	    display: table;
	    content: " ";
	}
}
.Row{
	position: relative;
    border: 2px solid #0DBC30;
    margin-right: -15px;
    margin-left: -15px;
    &:after {
	    clear: both;
	}
    &:before,&:after {
	    display: table;
	    content: " ";
	}
}
.Col{
    background-color: #FD6363;
    border: 2px solid #FAEE05;
    position: relative;
    min-height: 1px;    
    float: left;
    div{
    	background-color:#4744EA;
    }
}